.jumbotron{
    background-image:url('../image/sky.jpg');
    background-size:cover;
    
}

.jumbotron>h1{
    color: white;
}

.jumbosubheader{
    color: white;
}

/*.img-circle {
  border-radius: 50%;*/
  
  @media only screen and (max-width:699px){
      .img-circle{border-radius: 5%;}
  }
  
.carousel-inner img {
  margin: auto;
} 